header{
    background-image: url(../images/bg-3.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    padding: 1px;
}

.menu{
    text-align: right;
    color: white;
}

.menu li{
    display: inline-block;
    font-size: 13px;
    border: 1px solid white;
    margin: 25px 16px 0px 0px;
}

.menu a{
    display: inline-block;
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    text-decoration: none;
}

.menu a:hover{
    background-color: rgba(0, 0, 0, .8);
}

header .titulo{
    text-align: center;
    font-size: 60px;
    margin: 85px 60px 60px;
    color: white ;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

header .bloco{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    width: 300px;
    font-size: 13px;
    margin: 30px auto 0px auto;
    border-bottom: 2px solid white;
}

main{
    width: 80%;
    margin: auto;
}

body{
    background-color: rgb(233, 233, 247);
}

.container{
    background-color: white;
    padding: 15px;
    margin: 30px 0px;
}

main .titulo.dentro{
 background-color: rgb(233, 233, 247);
 font-size: 22px;
 padding: 8px;

}

main .texto{
    font-size: 14px;
    margin: 20px 0px;
}

main .botao{
    background-color: #cdc7c3;
    padding: 12px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    opacity: 70%;
    padding: 20px;
    font-size: 12px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}